
<div class="blank">	</div>
<div class="container" style="height : auto">
	<div class="row">

      <div class="col s12 m3" style="text-align: center;">
        <img src="/static/img/developer.png" class="circle responsive-img aboutImg">
        <span class="developer grey-text text-darken-4">Racha Bia </span>
        <br>
        <a class="grey-text text-lighten-4" href="https://twitter.com/Racha__Bella">
	           		<img src="/static/img/twitter.png">
	    </a>
	           <a class="grey-text text-lighten-4 " href="https://github.com/RachaBella">
	           		<img src="/static/img/github.png">
	           </a>
	           <a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/rachabia">
	           		<img src="/static/img/linkedin.png">
	           </a>
      </div>

      <div class="col s12 m9" style="text-align: center;">
        <span class="developer grey-text text-darken-4">About the developer </span>
        <hr>
        <div id="mypanel" class="card-panel col s12">
			<span class="white-text">After starting a career as a pharmacist, I decided to switch, because I wasn't feeling satisfied about what I'm doing, I needed something exciting where i can work really hard and be creative. So I had the chance to access one of the biggest national school in my country to become a computer science Engineer that can develop, paticularly in Web developement. I'm working actually with Pasteur Laboratory in Tunisia (Tunis) to develop a web application, where we analyze the data issued from the RNA sequencing of the Leishmania parasite, and compare it with the data present on the databases, to check on the possibilities of finding new species depending on their RNA-seq outputs.
			I'm very passionate about creating new tools and services which can help in a way, other people. 
			I want to be a part of that large community of developers who were able to change many people's life, and make it a better place. 

			</span>
		</div>
		<span class="developer grey-text text-darken-4">Projects </span>
		<hr>
		<div class ="col s12 m4 l4">
			<div class="card-panel blue">
				<span class="white-text">i Help : home remedies advice generator</span><br>
				<hr>
				<a href="https://github.com/RachaBella/Project1" class="black-text">The source</a><br>
				<a href="http://i-help.herokuapp.com" class="black-text">website</a>
			</div>

		</div>
		<div class ="col s12 m4 l4">
			<div class="card-panel purple accent-2">
				<span class="white-text">Voltage-cities : event posting, comments and tags </span>
				<hr>
				<a href="https://github.com/angelo2dot0/Voltage_Cities" class="black-text">The source</a><br>
				<a href="voltage-cities.herokuapp.com" class="black-text">website</a>
			</div>
			
		</div>
		<div class ="col s12 m4 l4">
			<div class="card-panel green accent-3">
				<span class="white-text">SafeWalk : tracking website and sms sending once arrived in your secure place</span>
				<hr>
				<a href="https://github.com/RachaBella/SafeWalk" class="black-text">The source</a><br>
				<a href="im-safe.herokuapp.com" class="black-text">website</a>
			</div>
			
		</div>
		<div class ="col s12 m4 l4">
			<div class="card-panel deep-orange accent-3">
				<span class="white-text">Tic Tac Toe </span>
				<hr>
				<a href="https://github.com/RachaBella/tic-tac-toe" class="black-text">The source</a><br>
				<!-- <a href="" class="black-text">website</a> -->
			</div>
			
		</div>

		<div class ="col s12 m4 l4">
			<div class="card-panel  pink darken-1">
				<span class="white-text">Honesty page </span>
				<hr>
				<a href="https://github.com/RachaBella/Projects/tree/master/micro-blog-part2" class="black-text">The source</a><br>
				<!-- <a href="im-safe.herokuapp.com" class="black-text">website</a> -->
			</div>
			
		</div>
      </div>

    </div>
          
</div>