

<div data-ng-init="initializeData()" >
	<div class="fixed-action-btn horizontal click-to-toggle" style="top: 70px; right: 24px;">
    <a class="btn-floating btn-large dashButton">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="upload a chart"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="write a post"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="attach a picture"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
	<div class="parallax-container">
	    <div class="parallax"><img src="/static/img/test3.png">
	    </div>
	  </div>
	  <div class="section white">
	    <div class="row">
	    	<div class="col m3 l3 s12">
	    		<div id="profile-card2" class="card">
			            <div class="card-image">
			              <img src="/static/img/bg.jpg">
			            </div>
			            <div class="card-content">
			            	<img ng-if="currentUser.points ==0 "src="/static/img/avatar.jpg" alt="" class="circle responsive-img activator card-profile-image activator">
			            	<img ng-if="(currentUser.points >0) && (currentUser.points <= 50) " src="/static/img/avatar2.jpg" alt="" class="circle responsive-img activator card-profile-image activator">
			            	<img ng-if="currentUser.points >50 " src="/static/img/avatar3.png" alt="" class="circle responsive-img activator card-profile-image activator">
			            	<span class="card-title activator grey-text text-darken-4">{{currentUser.userName}}
			              	<p> {{currentUser.points}} points</p>
			              
			            </div>
			            
		        </div>

		        <div id="profile-card2" class="card">
			            <div class="card-image">
			              <img src="/static/img/bg.jpg">
			            </div>
			            <div class="card-content">
			            	<img ng-if="theSymbiotic.points ==0 "src="/static/img/avatar.jpg" alt="" class="circle responsive-img activator card-profile-image activator">
			            	<img ng-if="(theSymbiotic.points >0) && (theSymbiotic.points <= 50) " src="/static/img/avatar2.jpg" alt="" class="circle responsive-img activator card-profile-image activator">
			            	<img ng-if="theSymbiotic.points >50 " src="/static/img/avatar3.png" alt="" class="circle responsive-img activator card-profile-image activator">
			            	<span class="card-title activator grey-text text-darken-4">{{theSymbiotic.userName}}
			              	<p> {{theSymbiotic.points}} points</p>
			              
			            </div>    
		        </div>
	   			
	    	</div>
	    	
	        	 <!-- <ul class="collapsible" data-collapsible="accordion">
				    <li ng-repeat="knowledge in knowledges">
				      <div class="collapsible-header blue"><i class="material-icons">filter_drama</i>{{knowledge}}</div>
				      <div class="collapsible-body blue lighten-5">
				      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

						
						          <input placeholder="" id="" type="text" class="validate" ng-model="newPost.content">
						          <label for="first_name">Write your post here</label>
						    <!-- <div class="col m3 s12 l9">
						        	<button id="addPostButton" href="#!" class="btn-floating btn-small waves-effect waves-light red secondary-content" ng-click="addPost()"><i class="material-icons">add</i></button>
						    </div> 
				      </div>
				    </li>
				    
				  </ul> -->

				 <div class="col s12 m9 l9">
                <div class="row">
                  <div class="col s12">
                    <ul class="tabs tab-demo-active z-depth-1" style="width: 100%;">
                      <li class="tab col s3" style="width: 33.3333%;"><a class="white-text blue darken-1 waves-effect waves-light"  href="#sapien1"> {{knowledge0.name}}</a>
                      </li>
                      <li class="tab col s3" style="width: 33.3333%;" ng-repeat='knowledge in knowledges'><a class="white-text blue darken-1 waves-effect waves-light"  href="#{{knowledge.id}}"> {{knowledge.name}}</a>
                      </li>

                      <div class="indicator" style="right: 373px; left: 0px;"></div>
                      <div class="indicator" style="right: 373px; left: 0px;"></div>
                      

                    </ul>
                  </div>
                  <div class="col s12">
                    <div id="sapien1" class="col s12  light-blue lighten-5" style="display: block;">
                     	 <div class="row">
                      		<form ng-submit="addPost(knowledge0)" >
                       	
                      		<div class ="input-field col s12">
                      			<input type="text" id="title" class="validate" ng-model="newPost.title">
                          		<label for="title" class="postLabel">Post title</label>
                      		</div>
                          <div class="input-field col s12">
                            <textarea id="name" class="materialize-textarea" type="text" ng-model="newPost.content" class="validate" length="300"></textarea>
                            <label for="first_name" class="postLabel">write your post here</label>
                            <span class="character-counter" style="float: right; font-size: 12px; height: 1px;"></span>
                          </div>
                          <div class="col s12 right">
                          	  <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                                <i class="mdi-content-send right"></i>
                              </button>
                          </div>
                       </form>
                        </div>

                    </div>

                    <div id="{{knowledge.id}}" class="col s12  light-blue lighten-5 something" style="display: none;" ng-repeat='knowledge in knowledges'>
                      <div class="row">
                       <form ng-submit="addPost(knowledge)">
                       	
                      		<div class ="input-field col s12">
                      			<input type="text" id="title" class="validate" ng-model="newPost.title">
                          		<label for="title" class="postLabel">Post title</label>
                      		</div>
                          <div class="input-field col s12">
                            <textarea id="name" class="materialize-textarea" type="text" ng-model="newPost.content" class="validate" length="300"></textarea>
                            <label for="first_name" class="postLabel">write your post here</label>
                            <span class="character-counter" style="float: right; font-size: 12px; height: 1px;"></span>
                          </div>
                          <div class="col s12 right">
                          	  <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                                <i class="mdi-content-send right"></i>
                              </button>
                          </div>
                       </form>
                        </div>
						
                        <div class="card medium" ng-repeat="post in data">
			                    <div class="card-image">
			                      <img src="/static/img/tech2.jpg" alt="sample">
			                      <span class="card-title" id="title2">{{post.title}}</span>
			                    </div>
			                    <div class="card-content">
			                      <p class="ultra-small">June 30, 2015</p>
			                      <p>{{post.content}}.</p>

			                    </div>
			                    <div class="card-action">
			                      By <a href="#">{{post.owner.userName}}</a>
			                      <a href="#" class="right">Comment &gt;</a>
			                    </div>
			            </div>

                    </div>

                    
                  
    
                  </div>
                </div>
              </div>
        
			
				    













		    		
			       
	    	</div>
	      
	      
	    </div>
  </div>

  <div class="parallax-container">
	    <div class="parallax"><img src="/static/img/test3.png"></div>
	  </div>
	  <div class="section white">
	    <div class="row container">
	      <h2 class="header">Notes</h2>
	      <p class="grey-text text-darken-3 lighten-3">You can add notes here.</p>
	    </div>
  </div>
</div>

<script type="text/javascript-lazy">
	$(document).ready(function(){

  		$('.parallax').parallax();
	 	$('.tooltipped').tooltip({delay: 50});
    	$('ul.tabs').tabs();
    	$('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });

  	});
	 
</script>


