<footer class="page-footer  cyan darken-4">
          
          <div class="footer-copyright">
            <div class="container footerA" >
            © 2015 Racha Bia | <a href="https://github.com/RachaBella/Symbiotic">The Source</a>
	           <a class="grey-text text-lighten-4 right" href="#!">
	           		<img src="/static/img/fb.png">
	           </a>
	           <a class="grey-text text-lighten-4 right" href="#!">
	           		<img src="/static/img/twitter.png">
	           </a>
	           <a class="grey-text text-lighten-4 right" href="#!">
	           		<img src="/static/img/youtube2.png">
	           </a>
           

            </div>
          </div>
</footer>