<header>
  			<div class="intro   blue z-depth-1">
  				<img class='img-responsive' src="/static/img/knowledge.png">
		        <h3 class="grey-text text-lighten-5">Share your knowledge</h3>
		        <a class="visit waves-effect waves-light btn" data-scroll href="#section1">See More</a>
	     	</div>
</header>
<div class="divider"></div>
 <section class="section1 yellow" id="section1">
  			<div class="row conversation">
		  		<div class="col s6">
		  			<img class ="img-responsive2 cloud" src="/static/img/adult.png">
		  			<div class="card-panel teal myCard">
					  	<span class="white-text">Hey, I am looking to learn some new Technologies. Can you mentor me or teach me? I can share with you what I know too, and we can exchange
		        	</div>
		  		</div>	
		  		<div class="col s6">
		  			<img class ="img-responsive2 cloud" src="/static/img/human22.png">
		  			<div class="card-panel teal myCard">
				        <span class="white-text">Yes I am very pleased to teach you and share with you what I know, in exchange you can teach me what you know. We'll have a great experience !!
				        </span>
		       		</div>
		  		</div>
  			</div>	
</section>
		<div class="divider"></div>

		<section class="section3">
				<div class="row container myRow">

			      <div class="col s4">
			        <!-- Promo Content 1 goes here -->
			        <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="250" src="/static/img/shared-knowledge.jpg">
			      </div>
			      <div class="col s4">
			       <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="250" src="/static/img/knowledge-exchange.bmp">
			     
			        <!-- Promo Content 2 goes here -->
			      </div>
			      <div class="col s4">
			       <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="250" src="/static/img/shared-knowledge.jpg">
			     
			        <!-- Promo Content 3 goes here -->
			      </div>

			    </div>


  		</section>
  		<div class="divider"></div>
  		<section class="section2">

			<div class="slider"  transition='400'>
			    <ul class="slides">
			      <li>
			        <img id="img1" src=""> <!-- random image -->
			        <div class="caption center-align">
			          <h3>Sharing!</h3>
			          <h5 class="light grey-text text-lighten-3">Share with your symbiotics</h5>
			        </div>
			      </li>
			      <li>
			        <img  id="img2" src=""> <!-- random image -->
			        <div class="caption left-align">
			          <h3>Learning</h3>
			          <h5 class="light grey-text text-lighten-3">Learn from your symbiotics too.</h5>
			        </div>
			      </li>
			      <li>
			        <img id="img3" src=""> <!-- random image -->
			        <div class="caption right-align">
			          <h3>Enjoying</h3>
			          <h5 class="light grey-text text-lighten-3">Make new Friends and new experiences</h5>
			        </div>
			        <div class="caption left-align">
			        </div>
			      </li>
			      <li>
			        <img id="img4" src=""> <!-- random image -->
			        <div class="caption center-align">
			          <h3>Earn points</h3>
			          <h5 class="light grey-text text-lighten-3">Everytime you mentor your symbiotics</h5>
			        </div>
			      </li>
			    </ul>
  			</div>
  		</section>
  	
  		

 <script type="text/javascript-lazy">

				$(document).ready( function () {


					$('.slider').slider({full_width: true});
					$('.materialboxed').materialbox();

				
				});

</script>